@media screen and (min-width: 1050px) {

.showcase_container {
  display: flex;
  align-items: center;
  background-image: url(../../../../assets/header/bg.png);
  background-position:  100px 180px;
  background-size: 50%;
  background-color: #F8F9FA;
  background-repeat: no-repeat;
  position: relative;
  margin-left: 10px;
  padding-top: 40%;
  height: 30vh;
  
}
.showcase_inner {
  color: black;
  padding-left: 10%;
  margin-top: -30%;
  width: 100%;
  display: flex;
}
.showcase_inner1{
  width: 50%;
}

.showcase_inner2{
  width: 50%;
}

.sideImage{
  width: 100%;
  margin-top: -80px

}

.showcase_inner h1 {
  font-family: 'Roboto';
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.showcase_inner p {
  font-family: 'Roboto';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 130%;
  max-width: 500px;
  margin-top: 30px;
}

.showcase_button {
  margin-top: 30px;
  color: var(--white);
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
  border-radius: 15px;
  padding: 10px 15px;
}

}

@media screen and (max-width: 999px) {
  .showcase_container {
    background-size: 100% auto; /* Full width background */
    padding-top: 100px; /* Adjust as needed */
    background-repeat: no-repeat;
    background-size: cover;
    background-image: none;
    background-color: #F8F9FA;
  }

  .showcase_inner {
    width: 100%; /* Adjust width as needed */
    margin: 0 auto; /* Center align */
    text-align: center; /* Center align text */
    padding: 20px; /* Adjust padding as needed */
    display: block;
  }

  .showcase_inner1{
    width: 100%;
  }

  .showcase_inner h1 {
    font-size: 28px;
    text-align: center;
    margin-bottom: 25px;
  }
  
  .showcase_inner p {
    font-size: 16px;
    text-align: center;
    max-width: 650px;

  }

  .showcase_button {
    margin-top: 30px;
    font-size: 14px;
    padding: 10px 20px;
  }

  .showcase_inner2{
    display: block;
  }

  .sideImage{
    width: 100%;
    margin: 0 auto;
  }
  .cup_icon {
    top: 100px;
  }

  .world_icon {
    top: 100px;
  }

  .people_icon {
    bottom: -20px;
    width: 20%;
  }
  .showcase_icon {
    width: 10%;
  }

  .arrow_icon {
    width: 8%;
  }
  .next_icon {
    width: 6%;
  }
}



/* @media screen and (max-width: 400px) {
  .showcase_container {
    min-height: 60vh;
  }
} */
